DATABASE_URL="postgresql://luma:luma@localhost:5432/lumalife"
SESSION_SECRET="replace-with-at-least-32-random-characters"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
APP_URL="http://localhost:3000"
STRIPE_PREMIUM_PRICE_ID=""
